.blog {
    position: relative;
    z-index: 2; /* Ensure navbar is above particle background */
    width: 100%;
}
.blog-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.blog-col {
    border-width: 5px;
    box-sizing: border-box;
    margin-bottom: 20rem;
}
