.blog-post-page {
    z-index: 2;
    position: relative;
    margin: auto;
}
.blog-post-page p {
    font-size: 20px;
    line-height: 1.5;
    margin: 30px;
}
.blog-post-page h2 {
    font-size: 40px;
    line-height: 1.5;
    margin: 20px;
    align-items: center;
    justify-content: center;
}
.blog-post-page h3 {
    font-size: 25px;
    line-height: 1.5;
    margin: 25px;
}
.blog-post-page small {
    font-size: 20px;
    line-height: 1.5;
    margin: 25px;
    background-color: aliceblue;
}
.blog-post-page img {
    width: 100%;
    height: 550px;
}