.innovationforstartups {
    position: relative;
    z-index: 2; /* Ensure navbar is above particle background */
    width: 100%;
    overflow-x: hidden;
}
.innovationforstartups-image img {
    width: 100%;
    height: 200px;
}
.innovationforstartups-image p {
    font-size: xx-small;
}
.innovationforstartups-image p a:hover {
    text-decoration: underline;
    color: #f5f8fc;
}
.innovationforstartups-content {
    width: 80%;
    margin: 0 auto;
    box-sizing: content-box;
    box-shadow: inset 2px 2px 4px 4px white;
    text-align: center;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
}
.innovationforstartups-text {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.innovationforstartups-text a {
    color: #f8fbfd;
    text-decoration: none;
    transition: color 0.3s ease;
}

.innovationforstartups-text a:hover {
    color: #007bff;
    text-decoration: underline;
}
@media screen and (min-width: 2560px) {
    .innovationforstartups-image img {
        width: 100%;
        height: 800px;
    }   
    .innovationforstartups-content h1 {
        font-size: 70px;
    }
    .innovationforstartups-content h2 {
        font-size: 55px;
    }
    .innovationforstartups-content h3 {
        font-size: 45px;
    }
    .innovationforstartups-content p {
        font-size: 35px;
    }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
    .innovationforstartups-image img {
        width: 100%;
        height: 600px;
    }   
    .innovationforstartups-content h1 {
        font-size: 45px;
    }
    .innovationforstartups-content h2 {
        font-size: 35px;
    }
    .innovationforstartups-content h3 {
        font-size: 25px;
    }
    .innovationforstartups-content p {
        font-size: 20px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .innovationforstartups-image img {
        width: 100%;
        height: 400px;
    } 
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .innovationforstartups-image img {
        width: 100%;
        height: 350px;
    } 
}
@media screen and (min-width: 425px) and (max-width: 767px) {
    .innovationforstartups-image img {
        width: 100%;
        height: 250px;
    } 
}
@media screen and (min-width: 375px) and (max-width: 424px) {
    .innovationforstartups-image img {
        width: 100%;
        height: 200px;
    } 
}
@media screen and (max-width: 320px) {
    .innovationforstartups-image img {
        width: 100%;
        height: 200px;
    } 
}