@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --font-family: 'Rubik', sans-serif;

    --gradient-text: linear-gradient(89.97deg, #33B8FF 1.84%, #3933FF);
    --gradient-bar: linear-gradient(103.22deg, #33B8FF -13.86%, #3933ff);

    --color-bg: #7181f8;
    --color-footer: #16035a;
    --color-blog: #C8F4ED;
    --color-text: #0948f5;
    --color-subtext: #3db9f2;
}
