.homepage {
    position: relative;
    z-index: 2; /* Ensure navbar is above particle background */
    width: 100%;
    overflow-x: hidden;
  }
.homepage-side {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}
.homepage-side-sidebar {
  width: 400px;
  margin-left: 1rem;
  background-color: aliceblue;
  height: 500px;
}
.homepage-side-skills {
  margin-left: 10px;
}
.homepage-side-projects {
  margin-left: 60px;
  margin-top: 50px;
}
/* Default styles */

/* Media query for iMac */
@media only screen and (min-width: 2560px) {
  /* Styles for iMac */
  .homepage-side-sidebar {
    margin-left: 3rem;
    width: 700px;
    height: fit-content;
  }
  .homepage-side-projects {
    margin-left: 2px;
  }

}

/* Media query for big laptops */
@media only screen and (min-width: 1440px) and (max-width: 2559px) {
  /* Styles for big laptops */
}

/* Media query for small laptops */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  /* Styles for small laptops */
}

/* Media query for tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles for tablets */
}

/* Media query for large phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* Styles for large phones */
}

/* Media query for medium phones */
@media only screen and (min-width: 360px) and (max-width: 479px) {
  /* Styles for medium phones */
}

/* Media query for small phones */
@media only screen and (min-width: 320px) and (max-width: 359px) {
  /* Styles for small phones */

}
